<header class="header">
    <div class="container header__container">

        <a href="/" class="logo">
            <img src="/img/logo/logo.svg" alt="Логотип" class="logo__icon">

            <div class="logo__text">
                <span class="logo__subtitle">ЛДЦ</span>
                <span class="logo__title">СпиналоКі</span>
            </div>
        </a>

        <nav class="nav">
            <a href="/">Головна</a>
            <a href="/services.html">Послуги</a>
            <a href="/doctors.html">Лікарі</a>
            <a href="/contacts.html">Контакти</a>
        </nav>

        <div class="header__contacts">
            <a href="tel:+380990000000" class="phone-btn">+38 (099) 429-86-40</a>
        </div>
    </div>
</header>
